@page
@model Medicine.Pages.Buys.CreateModel

@{
    ViewData["Title"] = "Додавання товару";
}

<h1>Додавання товару</h1>

<h4><p>@ViewData["Message"]</p></h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="BuyView.Drug" class="control-label">Ліки</label>
                <input asp-for="BuyView.Drug" class="form-control" />
                <span asp-validation-for="BuyView.Drug" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BuyView.Amount" class="control-label">Кількість</label>
                <input asp-for="BuyView.Amount" class="form-control" />
                <span asp-validation-for="BuyView.Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Додати" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Назад</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
