@page
@model Medicine.Pages.Buys.DeleteModel

@{
    ViewData["Title"] = "Видалення";
}

<h1>Видалення</h1>

<h3>Ви впевнені щодо видалення списку продажів?</h3>
<div>
    <h4></h4>
    <hr />
    

    <form method="post">
        <input type="hidden" asp-for="Buy.Id" />
        <input type="submit" value="Видалити" class="btn btn-danger" /> |
        <a asp-page="./Index">Назад</a>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
