@page
@model Medicine.Pages.Buys.IndexModel

@{
    ViewData["Title"] = "Продаж";
}

<h1>Покупки</h1>

<p>
    <a asp-page="Create">Додати товар</a>  |  <a asp-page="Delete">Видалити товар</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Назва
            </th>
            <th>
                Ціна
            </th>
            <th>
                Кількість
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Buy) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Drug.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Drug.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
        </tr>
}
    </tbody>
</table>
