@page
@model Medicine.Pages.Orders.CreateModel

@{
    ViewData["Title"] = "Створення замовлення";
}

<h1></h1>

<h4>Список ліків буде додано до складу, а потім видалено. Підтвердіть замовлення</h4>
<hr />
<form method="post">
    <input type="hidden" asp-for="Order.Id" />
    <input type="submit" value="Замовити" class="btn btn-danger" /> |
    <a asp-page="./Index">Назад</a>
</form>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
