@page
@model Medicine.Pages.Orders.DeleteModel

@{
    ViewData["Title"] = "Видалення";
}

<h1></h1>

<h3>Ви впевнені щодо видалення даного препарату?</h3>
<div>
    <h4>@Html.DisplayFor(model => model.Order.Drug.Name)</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Назва
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.Drug.Name)
        </dd>
        <dt class="col-sm-2">
           Кількість
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.Amount)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Order.Id" />
        <input type="submit" value="Видалити" class="btn btn-danger" /> |
        <a asp-page="./Index">Назад</a>
    </form>
</div>
