@page
@model Medicine.Pages.DrugTypes.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Видалення типу</h1>

<h3>Ви впевнені щодо видалення даного типу?</h3>
<div>
    <h4></h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Тип
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DrugType.Type)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="DrugType.Id" />
        <p>@ViewData["Message"]</p>
        <input type="submit" value="Видалити" class="btn btn-danger" /> |
        <a asp-page="./Index">Назад</a>
    </form>
</div>
