@page
@model IndexModel
@{
    ViewData["Title"] = "Головна";
}

<div class="text-center">
    <h1 class="display-4" >Аптека</h1>
    <p><img src="~/Img/emblem.jpg" alt="Sample Photo"  width="500" height="500"/></p>
</div>
