@page
@model IndexModel
@{
    ViewData["Title"] = "Головна";
}

<div class="text-center">
    <h1 class="display-4">Аптека</h1>
    <p><Img src="/Pictures/emblem.jpg" alt="Тут має бути зображення" Width="300" Height="400"></p>
</div>
