@page
@model IndexModel
@{
    ViewData["Title"] = "Головна";
}

<div class="text-center">
    <h1 class="display-4">Аптека</h1>
    <p><Img src="www.vseonauke.com/1221368703316659058/simvol-meditsiny-chasha-so-zmeej-istoki-znachenie/" Width="300" Height="400"></p>
</div>
