@page
@model PrivacyModel
@{
    ViewData["Title"] = "Інформація";
}
<h1>@ViewData["Title"]</h1>

<br>
<p>Курсовий проект</p>
<p>студентки групи ІС-01</p>
<p>Наливайко Ольги Миколаївни</p>
<p>2021 рік</p>

